<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SampleSvcBasicHttpEndPoint" maxReceivedMessageSize="1073741824" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8181/ScannerSvc" binding="basicHttpBinding"
                bindingConfiguration="SampleSvcBasicHttpEndPoint" contract="ScannerSvcRef.IScannerService"
                name="SampleSvcBasicHttpEndPoint" />
        </client>
    </system.serviceModel>
</configuration>