<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="deviceId" value=""/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SampleSvcBahavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="SampleSvcBahavior" name="ListenScanner.ScannerService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
            name="SampleSvcBasicHttpEndPoint" contract="ListenScanner.IScannerService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
            name="SampleSvcMexHttpEndPoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8181/ScannerSvc" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>